@font-face {
  font-family: "Open Sans";
  src: url("../Nikita2/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.wrapper {
  position: absolute;
  left: 0;
  height: 100%;
  overflow: scroll;
  width: 320px;
  padding: 34px 22px 34px;
  box-shadow: 0px 16px 52px rgba(14, 24, 80, 0.2);
}

button {
  border: none;
}

.header__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  transition: 1s;
}

.btn:hover {
  cursor: pointer;
  background-color: red;
}

.btn__close {
  background-image: url("./images/cross.svg");
  background-position: center;
}

.btn__search {
  background-image: url("./images/search.svg");
  background-position: center;
}

.btn__chat {
  background-image: url("./images/phone.svg");
  background-position: center;
}

.btn__chat2 {
  background-image: url("./images/chat.svg");
  background-position: center;
}

.btn__profile {
  background-image: url("./images/profile.svg");
  background-position: center;
}

.header__listItemLogo {
  flex-grow: 1;
}

.main {
  height: 650px;
}

.main__section {
  margin-bottom: 268px;
}

.main__list {
  margin-top: 55px;
}

.main__listItem {
  list-style: none;
  line-height: 40px;
  font-size: 16px;
  transition: 0.6s;
}

.main__link:hover {
  color: #7e7e82;
  cursor: pointer;
}

.footer__languages:hover {
  color: #7e7e82;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #1b1c21;
}

.footer__section {
  height: 226px;
}

.footer__contacts {
  display: flex;
  margin-top: 0px;
  margin-bottom: 25px;
}

.footerItemList {
  display: flex;
  list-style: none;
  padding-right: 11px;
}

.footer__boxCont {
  margin-bottom: 46px;
}

.footer__mail {
  padding-bottom: 22px;
}

.footer__phone {
  font-size: 24px;
  font-weight: bold;
}

.footer__boxLang {
  display: flex;
}

.footer__languages {
  padding-right: 8px;
  transition: 0.6s;
}
