@font-face {
  font-family: "Open Sans";
  src: url("../Nikita2/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

ul {
  list-style: none;
}

.wrapper {
  padding-left: 24px;
  padding-top: 15px;
  box-shadow: 2px 2px 2px #7e7e82;
  position: absolute;
  left: 0;
  width: 320px;
  height: 234px;
  overflow: scroll;
}

.header__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #7e7e82;
  margin-bottom: 38px;
  margin-top: 42px;
  margin-left: 14px;
}

.main__btn {
  background-color: #ffffff;
  padding: 15px;
  height: 100%;
  width: 194px;
  border: none;
  background-repeat: no-repeat;
  background-position: 0px, 152px;
}

.main__btnOrder {
  background-color: #ff3e79;
  background-image: url("./images/arrow2.svg");
  height: 32px;
  width: 119px;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  background-position: 96px 50%;
  background-repeat: no-repeat;
  text-align: start;
  padding-left: 12px;
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.main__swiperItemBrand {
  width: 224px;
  height: 72px;
  padding: 15px;
  margin-right: 24px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.main__swiperItemTechn {
  width: 240px;
  height: 160px;
  padding: 15px;
  margin-right: 24px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.main__swiperItemArrow {
  position: absolute;
  right: 16px;
  bottom: 16px;

  background-image: url("./swiperImg/arrow.svg");
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.main__swiperItemServices {
  width: 260px;
  height: 200px;
  padding: 15px;
  margin-right: 24px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
}

.main__repairName,
.Price {
  color: #7e7e82;
}

.Price {
  margin-top: 20px;
}

.Term {
  margin-top: 20px;
}

.main__repairDescrip {
  color: #1b1c21;
}

.swiper {
  height: 180px !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.swiper-services {
  height: 240px !important;
}

.swiper-repair-techn {
  height: 200px !important;
}

.swiper-repair-brand {
  height: 130px !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #dddddd !important;
  cursor: pointer !important;
}

.swiper-pagination-bullet:hover {
  background-color: #b5b6bc !important ;
}

.main__swiper {
  display: flex;
  margin-bottom: 17px;
}

.lenovo {
  background-image: url("./swiperImg/Lenovo.svg"), url("./swiperImg/arrow.svg");
}
.samsung {
  background-image: url("./swiperImg/Samsung.svg"), url("./swiperImg/arrow.svg");
}
.apple {
  background-image: url("./swiperImg/Apple.svg"), url("./swiperImg/arrow.svg");
}

.viewsonic {
  background-image: url("./swiperImg/ViewSonic.svg"),
    url("./swiperImg/arrow.svg");
}

.bosch {
  background-image: url("./swiperImg/Bosch.svg"), url("./swiperImg/arrow.svg");
}

.hp {
  background-image: url("./swiperImg/hp.svg"), url("./swiperImg/arrow.svg");
}

.acer {
  background-image: url("./swiperImg/acer.svg"), url("./swiperImg/arrow.svg");
}

.sony {
  background-image: url("./swiperImg/sony.svg"), url("./swiperImg/arrow.svg");
}

.main__show-all {
  color: #1b1c21;
  display: none;
}

.swiper-pagination {
  bottom: 0 !important;
  width: 230px !important;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: red;
}
